.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: auto;
  box-shadow: 5px 5px 5px 5px grey;
  padding: 0 1rem;
  border-radius: 2rem;
}
.container .content-img {
  width: 90vw;
  border-radius: 2rem 2rem 0 0;
}
.container .content {
  width: 100%;
  height: auto;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.container .content h1 {
  font-family: "Manrope", sans-serif;
  color: #48556a;
  margin: 2rem 0;
  padding: 0 2rem;
}
.container .content p {
  font-family: "Manrope", sans-serif;
  color: #6d7f97;
  padding: 0 2rem;
}
.container .user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  padding: 0 1rem;
}
.container .user .user-img {
  width: 5rem;
  border-radius: 50%;
}
.container .user .text {
  width: 100%;
  font-size: 1.3rem;
  color: #6d7f97;
  padding-left: 3rem;
}
.container .user .text p {
  width: 100%;
  font-weight: bold;
  padding: 0;
}
.container .user .share-content {
  display: flex;
  justify-content: flex-end;
}
.container .user .share-content .icon {
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  color: white;
  background-color: #48556a;
  border-radius: 50%;
}

.footer {
  display: none;
  width: 90vw;
  height: 8vh;
  background-color: #48556a;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  margin-top: -8rem;
}

@media only screen and (min-width: 900px) {
  .container {
    width: 80vw;
  }
  .container .content-img {
    width: 80vw;
  }

  .footer {
    width: 80vw;
    height: 10vh;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    width: 90vw;
    min-height: 40vh;
  }
  .container .bg-img {
    width: 70%;
    height: 100%;
    background-image: url(../images/drawers.jpg);
    background-size: cover;
    background-position: left bottom;
    border-radius: 2rem 0 0 2rem;
  }
  .container .content-img {
    display: none;
  }
  .container .content {
    flex-direction: row;
    width: 100%;
  }
  .container .content h1 {
    width: 100%;
  }
  .container .content .user {
    width: 100%;
    margin-top: 4rem;
    position: relative;
  }
  .container .content .user .text {
    width: 100%;
    text-align: center;
  }
  .container .content .user .text p {
    margin: 0;
  }

  .footer {
    width: 21vw;
    height: 3vh;
    border-radius: 2rem;
    margin-top: 13rem;
    position: absolute;
    top: 40%;
    right: 10rem;
    align-items: center;
    justify-content: space-between;
  }
}