@import "variable";
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    .content-img {
        max-width: 100%;
    }
    .content {
        width: 80%;
        height: auto;
        font-size: 1.3rem;
        h1 {
            font-family: $font;
            color: $main-title;
            margin: 2rem 0;
        }
        p {
            font-family: $font;
            color: $subtitle;
            margin: 2rem 0;
        }
    }
    .user {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;
        padding: 0 2rem;
        .user-img {
            width: 5rem;
            border-radius: 50%;
        }
        .text {
            width: 50%;
            font-size: 1.3rem;
            color: $subtitle;
            padding-left: 3rem;
        }
        .icon {
            width: 2rem;
            height: 2rem;
        }
    }
}